
html{
    background: url(https://static5.depositphotos.com/1048223/515/v/600/depositphotos_5151690-stock-illustration-abstract-seamless-pattern.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form{
    width: 450px;
    padding: 16px;
    border-radius: 10px;
    background-color:rgba (225, 255, 255, 0.431);
    background-color: lightpink;
    margin: 0 auto;
    
    
}

input, textarea{
    outline: none;
    padding: 8px;
    width: 200px;
}

h1{
    font-size: 50px;
    color:sandybrown;
    text-shadow: black 1.5px 1.5px 1.5px;
}

fieldset{
    border-radius: 10px;
}

legend{
    font-weight: bold ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.field{
     border:solid 2px #ccc
     
      
}

.field:focus{
    border-color:hotpink;
}
 
.btn-green{
    background-color:palegoldenrod;
    color:rebeccapurple;
}
.center-content{
    text-align: center;
}


    